@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет!</h1>
    <h5 class="display-4">Здесь ты можешь найти других художников, просто введи его email </h5>
</div>

<div class="text-center">
    <form asp-action="SearchPeople" asp-controller="Home" method="post">
        <input type="text" name="email" />
        <input type="submit" value="Поиск" />
    </form>
    
</div>

