@model IEnumerable<String>
@{
    ViewData["Title"] = "Поиск людей";
}


<table class="table">
   
    <tbody>
        @foreach (string item in Model)
        {
            <a asp-action="WatchPost" asp-controller="Home" asp-route-email="@item">@item</a>
        }
    </tbody>
</table>
